[submodule "native/tools/libmnl"]
	path = native/tools/libmnl
	url = https://github.com/justmirror/libmnl
[submodule "native/tools/wireguard"]
	path = native/tools/wireguard
	url = https://github.com/wireguard/WireGuard
