[submodule "app/tools/libmnl"]
	path = app/tools/libmnl
	url = https://github.com/justmirror/libmnl/
[submodule "app/tools/wireguard"]
	path = app/tools/wireguard
	url = https://github.com/MSF-Jarvis/WireGuard
