<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wireguard.android"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Application"
        android:allowBackup="false"
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="${applicationId}.LauncherActivity"
            android:icon="@mipmap/ic_launcher"
            android:targetActivity=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="${applicationId}.AltIconLauncherActivity"
            android:icon="@drawable/alt_launcher_icon"
            android:enabled="false"
            android:targetActivity=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wireguard.android.activity.MainActivity" />
        </activity>

        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".activity.TunnelCreatorActivity"
            android:label="@string/create_activity_title"
            android:parentActivityName=".activity.MainActivity" />

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

        <activity android:name=".activity.LiveLogViewerActivity"
            android:label="@string/log_viewer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <receiver android:name=".services.BootShutdownReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".services.ViscerionUpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".model.TunnelManager$IntentReceiver">
            <intent-filter>
                <action android:name="com.wireguard.android.action.REFRESH_TUNNEL_STATES" />
            </intent-filter>
        </receiver>

        <receiver android:name=".services.TaskerIntegrationReceiver">
            <intent-filter>
                <action android:name="${applicationId}.SET_TUNNEL_UP" />
                <action android:name="${applicationId}.SET_TUNNEL_DOWN" />
            </intent-filter>
        </receiver>

        <service
            android:name=".backend.GoBackend$VpnService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <service
            android:name=".QuickTileService"
            android:icon="@drawable/ic_qs_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">

            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="false" />
        </service>

        <provider
            android:authorities="${applicationId}"
            android:name=".providers.ViscerionSliceProvider"
            android:exported="true"/>
    </application>
</manifest>
